*.wants/
*.toml.save
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/fishd.*
fish/.config/fish/index.html

# fisher and installed plugins
fish/.config/fish/functions/__bass.py
fish/.config/fish/functions/__z.fish
fish/.config/fish/functions/__z_add.fish
fish/.config/fish/functions/__z_clean.fish
fish/.config/fish/functions/__z_complete.fish
fish/.config/fish/functions/bass.fish
fish/.config/fish/functions/bax.fish
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/fishtape.fish
fish/.config/fish/functions/humanize_duration.fish
fish/.config/fish/conf.d/done.fish

gtk-3.0/.config/gtk-3.0/bookmarks
gtk-3.0/.config/gtk-3.0/servers

mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

pulseaudio/.config/pulse/*.tdb
pulseaudio/.config/pulse/*default*
pulseaudio/.config/pulse/cookie

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

