*.wants/
*.toml.save
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/fishd.*
fish/.config/fish/index.html

# fisher and installed plugins
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/__bass.py
fish/.config/fish/functions/bass.fish

gtk-3.0/.config/gtk-3.0/bookmarks
gtk-3.0/.config/gtk-3.0/servers
mpd/.config/mpd/state
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged
