[Unit]
Description=AN2Linux

[Service]
Type=simple
StandardOutput=null
Restart=on-failure
#ExecStart=/usr/bin/an2linuxserver.py
ExecStart=/home/ammgws/Dropbox/projects/_gitgatgot_/an2linuxserver/an2linuxserver.py

[Install]
WantedBy=default.target
