[Unit]
Description=ibus daemon
Documentation=man:ibus-daemon(1)

[Service]
Type=dbus
BusName=org.freedesktop.IBus
ExecStart=/usr/bin/ibus-daemon --address unix:tmpdir=%t/ibus.socket --replace --xim --panel disable --verbose

[Install]
WantedBy=default.target
