[Unit]
Description={Libre,Last}.fm updater for MPD
BindsTo=mpd.service
After=mpd.service

[Service]
# TODO: remove --conf flag once a new release is out that includes the below PR
# https://github.com/MusicPlayerDaemon/mpdscribble/pull/34
ExecStart=/usr/bin/mpdscribble --no-daemon --conf=%E/mpdscribble/mpdscribble.conf

[Install]
WantedBy=default.target
