[Unit]
Description=uim toolbar
PartOf=uim.service

[Service]
ExecStart=/usr/bin/uim-toolbar-gtk3-systray
Restart=on-abort

[Install]
WantedBy=uim.service
