[Unit]
Description=uim daemon
Wants=uim-env.service
After=xorg.target

[Service]
ExecStart=/usr/bin/uim-xim
Restart=on-abort
# Need to set this and install xwayland:
Environment=DISPLAY=:0

[Install]
WantedBy=xorg.target
